# App Mode
APP_NAME="tigerfly"
APP_MODE="development"
TEMP_DIR="./tmp"
BUILD_DIR="./cmd"
STATIC_URL="/static"

# Server Options
SERVER_PORT=3210
SERVER_IDLE_TIMEOUT="60s"
SERVER_WRITE_TIMEOUT="15s"
SERVER_READ_TIMEOUT="15s"
SERVER_MAX_HEADER_BYTES=1048576
SERVER_READ_HEADER_TIMEOUT="10s"

# CORS Options
CORS_ALLOWED_ORIGINS="http://localhost:3210,"
CORS_ALLOWED_METHODS="GET,POST,PUT,DELETE,OPTIONS"
CORS_ALLOWED_HEADERS="User-Agent,Content-Type,Accept,Accept-Encoding,Accept-Language,Cache-Control,Connection,DNT,Host,Origin,Pragma,Referer,X-CSRF-Token"
CORS_EXPOSED_HEADERS="Link"
CORS_ALLOW_CREDENTIALS=true
CORS_MAX_AGE=3600

# Database Options
DATABASE_FILE="./database.db"

# View
VIEW_PATH="./views"
VIEW_EXTENSION=".html"
