{{ define "components/counter" }}
<div id="counter" class="text-xl font-bold">
  <button
    class="px-10 py-4 text-2xl font-semibold rounded-full bg-red-800 text-gray-100 select-none transition-colors duration-300 hover:bg-red-800 focus:outline-none focus:ring focus:ring-red-800 focus:ring-opacity-80"
    hx-get="/counter-add"
    hx-trigger="click"
    hx-target="#counter-value"
    hx-swap="innerHTML"
  >
    Count : <span id="counter-value">{{ or . "0" }}</span>
  </button>
</div>
{{ end }}
