{{ define "components/counter" }}
<div id="counter" class="text-xl font-bold">
  <button
     class="px-10 py-4 text-2xl font-semibold rounded-full bg-red-800 text-gray-100 select-none transition-transform duration-300 hover:scale-95 active:scale-90 focus:outline-none focus:ring focus:ring-red-800 focus:ring-opacity-80"
    hx-get="/counter-add"
    hx-trigger="click"
    hx-target="#counter-value"
    hx-swap="innerHTML"
  >
    <span class="text-gray-300">Count : </span><span id="counter-value" class="transition-all">{{ or . "0" }}</span>
  </button>
</div>
{{ end }}
