{{ define "layout/header" }}
<!doctype html>
<html lang="en">
  <head>
    <title>TigerFly</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      href="/static/img/favicon.png"
    />
    <script defer src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link defer href="/static/css/main.css" rel="stylesheet" />
  </head>

  <body lang="en">
    {{ end }}
  </body>
</html>
